*, *::after, *::before {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777;
  background: #777;
  width: 960px;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 10px;
}

.header, .nav, .section, .aside, .footer {
  background: #ebebeb;
}

.header {
  padding: 20px;
  margin-bottom: 10px;
}

.nav {
  padding: 20px;
  margin-bottom: 20px;

}

.section {
  width: 495px;
  height: 300px;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-bottom: 100px;
}

.aside {
  float: left;
  width: 445px;
  height: 300px;
  margin-bottom: 10px;
}

.article {
  color: #ebebeb;
  background: #777;
  margin: 10px;
  padding: 12px;
  padding-bottom: 20px;
  margin-top: 50px;
  
}

.h123, .paragraph {
  color: #777;
  background: #ebebeb;
  margin: 20px;
  padding: 10px;

}
.footer {
  padding: 20px;
  /* background: red; */
  clear: both;
  
}

.clearfix::after {
  content:" ";
  display: block;
  clear: both;
}


